.population path {
  stroke-width: 1.5px;
}

.population .outline {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.population {
  cursor: pointer;
}

.divider {
  stroke: #aaa;
  stroke-width: 2px;
  stroke-dasharray: 5, 5;
}

.population text {
  font-size: 1.8em;
  font-weight: 900;
  font-family: sans-serif;
  paint-order: stroke;

  /* White text with black outline */
  stroke: #0a0a0a;
  fill: #fff;
  stroke-width: 6px;

}

.population text.nooutline {
  /* Black text */
  stroke: none;
  fill: #000;
}

.link {
  fill: none;
  stroke: #383838;
  stroke-width: 1.5px;
}

#arrowhead {
  fill: #383838;
}
